<%- include("template/cabecera", {tituloWeb: "Pagina de Inicio"})  %>


    <h1 class="text-primary">Este es el index</h1>
    <h2>
        <%= titulo %>
    </h2>

    <%- include("template/footer")  %>